<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center me-auto me-xl-0">\
      <h1>Append</h1>
      <span>.</span>
    </a>

    <!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/" class="active">Trang chủ</a></li>
        <li><a routerLink="/">Về chúng tôi</a></li>
        <li class="dropdown has-dropdown"><a routerLink="/"><span>Dịch vụ</span> <i class="bi bi-chevron-down"></i></a>
          <ul class="dd-box-shadow">
            <li><a routerLink="" (click)="test()">Phản hồi</a></li>
            <li><a routerLink="ManageCustomerRequire" *ngIf="dataAccount.role == 1">Quản lý yêu cầu hỗ trợ</a></li>
            <li><a routerLink="ManageAccount" *ngIf="dataAccount.role == 1">Quản lý người dùng</a></li>

          </ul>
        </li>
        <li><a routerLink="CustomerSupport">Liên hệ</a></li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav><!-- End Nav Menu -->

    <div class="dropdown d-flex justify-content-end align-items-center" style="max-width: 20%;" dropdown
      *ngIf="isLogin">
      <img src="{{dataAccount.avatar ?? '../../assets/user.png'}}" alt="" style="width: 15%; border-radius: 40%;">
      <a class="dropdown-toggle  text-dark   ms-2" style="text-decoration: none;" data-bs-toggle="dropdown"
        aria-expanded="false">{{ dataAccount.firstName | titlecase}} {{dataAccount.lastName | titlecase}}</a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="Account">Tài khoản</a></li>
        <li><a class="dropdown-item" routerLink="" (click)="logout()">Đăng xuất</a></li>
      </ul>

    </div>

    <button class="btn btn-getstarted" (click)="reset()" *ngIf="!isLogin">Đăng nhập</button>

  </div>
</header>


<div class="modal fade" id="loginModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng nhập</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">

          <div class="row gy-2">
            <div class="col-12 ">
              <label for="Email" class="form-label">Email</label>
              <input type="text" class="form-control" id="Email" placeholder="Nhập Email" name="email" [(ngModel)]="email" autocomplete="off">
            </div>
            <div class="col-12">
              <label for="PassWord" class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" id="PassWord" placeholder="Nhập mật khẩu" name="password"
                [(ngModel)]="password" autocomplete="off">
            </div>
          </div>

        </div>
        <div class="modal-footer p-0">
          <div class="col-12 text-center">

            <button type="submit" class="btn btn-dark btn-lg" (click)="login()">Đăng nhập</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>